.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #000000;
}

.view-container {
  position: absolute;
  left: 250px;
  top: 0;
  right: 0;
  bottom: 0;
}

.sidebar-item {
  list-style: none;
  font-size: 2rem;
  cursor: pointer;
  color: ghostwhite;
  margin-bottom: 0;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.sidebar-item > .fa {
  padding: 10px 20px 10px 25px;
  width: 20px;
  text-align: center;
}

.sidebar-item:hover {
  color: ghostwhite;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#sow-title {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

#sow-icon {
  height: 60px;
}

#search-box {
  width: 90%;
  margin: 10% 5%;
}


.color-gray:hover, .color-gray.active {
  background-color: #999999;
}

.color-1:hover, .color-1.active {
  background-color: #A78B68;
}

.color-2:hover, .color-2.active {
  background-color: #C19653;
}

.color-3:hover, .color-3.active {
  background-color: #D48C28;
}

.color-4:hover, .color-4.active {
  background-color: #fe8908;
}

.color-5:hover, .color-5.active {
  background-color: #FF7A15;
}

.question-container {
  border: 1px solid #999;
  margin: 20px;
  padding: 20px;
  width: 700px;
  max-height: 400px;
  overflow: auto;
}

.question-title {
  font-size: 2rem;
}

.question-body {
  margin-left: 10px;
}

.question-answer {
  margin-left: 10px;
}

.tags-container {
  padding-top: 15px;
  padding-left: 15px;
}

/* Tags */
.question-tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.question-tags li {
  float: left;
}

.question-tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.question-tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.question-tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.question-tag:hover {
  background-color: #D48C28;
  color: white;
}

.question-tag:hover::after {
  border-left-color: #D48C28;
}

.question-tag a {
  text-decoration: none;
}

.question-tag-count {
  display: inline-block;
  background-color: #eee;
  border-radius: 10px;
  padding: 0 6px;
  font-size: 1.2rem;
}