* {
  box-sizing: border-box;
}

.container {
  width: 400px;
  overflow: auto;
}

.box {
  width: 50%;
  float: left;
  padding: 25px 0;
  text-align: center;
  font-size: 24px;
}

.box-l {
  background: linear-gradient(45deg, #32c6e2 7px, transparent 0) 0 10px, linear-gradient(135deg, #32c6e2 7px, #e0f8e0 0) 0 10px;
  background-color: #32c6e2;
  background-repeat: repeat-y;
  background-size: 14px 14px;
  background-position: right;
}

.box-r {
  background-color: #e0f8e0;
}