<div class="questions">
  <div class="question-container" ng-repeat="question in questions">
    <div class="question-title" ng-bind="question.questionTitle"></div>
    <div class="question-body" ng-bind-html="question.question | to_trusted"></div>
    <div>Accepted Answer</div>
    <div class="question-answer" ng-bind-html="question.answer | to_trusted"></div>
    <div class="question-tags" ng-repeat="tag in question.tags">
      <a class="question-tag" ng-href="{{'overflowise.html#/questions/' + tag}}" ng-bind="tag"></a>
    </div>
    <a ng-href="{{question.url}}" target="_blank">View Original</a>
  </div>
</div>