<h1>Here be settings</h1>

<button ng-click="export()">Export</button>

<a id="exportLink" download="data.json"></a>

<h3>Import</h3>
<input type="file" id="fileinput" />
<button ng-click="import()">Import</button>
