<div class="tags-container">
  <div class="" ng-repeat="tag in tags">
    <span class="question-tag-count" ng-bind="tag.count"></span>
    <a class="question-tag" ng-href="{{'overflowise.html#/questions/' + tag.tagName}}" ng-bind="tag.tagName"></a>
  </div>
</div>